@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,900;1,400;1,600&family=Urbanist:wght@700&display=swap');

/* Widlcard selector to override default styles of browser */
/* Code from Love Running walkthrough project */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic styles */
    color: #233d4d;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Urbanist', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #233d4d;
}

/* Header */
header {
    background-color: #f7a072;
    padding: 0 .75rem;
}

header a {
    text-decoration: none;
    color: inherit;
}

#navbar {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
    background-color:#f7a072;
    margin-top: 10px;
}

#navbar > li {
    margin-bottom: .5em;
}

#navbar a:hover {
    border-bottom: 1px solid #233d4d;
}

/* Navbar styles with dropdown with hamburger toggle */
nav {
    position: absolute;
    background-color: #f7a072;
    width: 100%;
    padding: 2px 1rem;
    left: 0;
    display: none;
}

/* Main content */
main {
    padding: 0 .75rem;
    /* Makes main element take up any surplus space and push the footer to the bottom of the page */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: cornflowerblue;
    padding: 0 .75rem;
}