@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,900;1,400;1,600&family=Urbanist:wght@700&display=swap');

/* Widlcard selector to override default styles of browser */
/* Code from Love Running walkthrough project */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic styles */
    color: #233d4d;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Urbanist', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #233d4d;
}

h3 {
    text-align: center;
    padding-top: 10px;
}

.icon {
    color: #619b8a;
    font-size: 200%;
    /* makes it float in the center */ 
    position: relative;
    left: 43%;
}

/* Header */
header {
    background-color: #f7a072;
    padding: 0 .75rem;
    /* Fixes Header to top */
    position: fixed;
    z-index: 99;
    width: 100%;
    /* Nav togglebox */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#navbar {
    font-size: 110%;
    letter-spacing: 0;
    list-style-type: none;
    background-color:#f7a072;
    margin-top: 10px;
}

#navbar > li {
    margin-bottom: .5em;
}

.active {
    border-bottom: 1px solid #233d4d;
}

/* Navbar styles with dropdown with hamburger toggle */
nav {
    position: absolute;
    background-color: #f7a072;
    width: 100%;
    padding: 2px 1rem;
    left: 0;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    width: 100%;
    padding: 0;
    /* Makes main element take up any surplus space and push the footer to the bottom of the page 
    flex: 1 0 auto;*/
    margin-top: 37px;
}

#main-center {
    width: 100%;
}

#main-center h2 {
    margin-top:2rem;
    margin-bottom: 1rem;
}

/* Hero Image */
#hero {
    padding: 0;
    margin: 0;
    position: relative;
}

.hero-image {
    height: 550px;
    width: 100%;
    background: url(../images/cat-cafe-boba-tea_1598x600px.webp) no-repeat center center;
}

#overlay-text {
    background-color: rgba(9, 35, 50, .65);
    font-size: 130%;
    color: #ffffff;
    width: 250px;
    height: 200px;
    position: absolute;
    bottom: 300px;
    right: 10px;
    padding: 40px 20px 10px 20px;
    border-radius: 15px;
}

#overlay-text h2 {
    color: #eddea4;
}

#overlay-text p {
    font-size: 80%;
}

.center {
    text-align: center;
}

/* About Section */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    background-color: chartreuse;
}


#about h4 {
    text-align: center;
    padding-bottom: 1rem;
}

#about-cafe, #about-boba, #about-treats {
    width: 250px;
    background-color: #b5e2fa;
    margin: 1rem;
    padding: 10px;
    border-radius: 10px 10px 0 0 ;
}
/* Cat Section */
#cat-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    background-color: blueviolet;
}

#cats {
    background-color: #eddea4;
    margin: 1rem;
    padding: 0;
    border-radius: 10px 10px 0 0 ;
}

.cat-profile-image {
    width: 250px;
    height: 250px;
    border-radius: 10px 10px 0 0 ;
}

#cat1 {
    background: url("../images/long_hair_cat_600x600.webp") no-repeat center 15%;
}

#cat2 {
    background: url("../images/siamese_cat_250x350.webp") no-repeat center;
}

#cat3, #cat4, #cat5, #cat6 {
    background: url("../images/gray_cat_500x750.webp") no-repeat center 40%;
}

.cat-description {
    padding: 1rem;
}

.cat-description > h4 {
    padding-bottom: .75rem;
}

/* Footer */
footer {
    background-color: cornflowerblue;
    color: #092332;
    padding: 1rem .75rem;
    text-align: center;
}

footer > ul {
    list-style-type: none;
    display: inline-block;
}

footer li {
    float: left;
    padding: 0 10px;
    font-size: 125%;
}

footer a {
    color: inherit;
}

footer p {
    font-size: 60%;
    padding-top: 1rem;
    font-weight: bold;
}
/* Media query for tablets and later (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    header {
        padding-top: .5rem;
    }

    #logo {
        font-size: 200%;
        line-height: 65px;
    }

    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: .75rem;
    }

    #navbar {
        display: flex;
    }

    #navbar > li {
        padding-left: 1rem;
    }

    #navbar a:hover {
        border-bottom: 1px solid #233d4d;
    }

    .nav-toggle-label {
        display: none;
    }
    /* Main section */
    main {
        margin-top: 65px;
        /* test section */
        
    }

    #main-center {
        width: 85%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* Hero section */
    #overlay-text {
        width: 350px;
        bottom: 275px;
        left: 75px;
    }

    /* About section */ 
    #about {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    /* Cat section */
    #cats {
        display: flex;
        flex-direction: row;
    }

    .cat-profile-image {
        border-radius:  10px 0 0 0;
        flex-grow: 2;
    }

    #cat1 {
        flex-grow: 2;
    }
    
    .cat-description {
        flex-grow: 1;
    }

/* larger devices - laptops, desktops, and up (992px and up)  */
@media screen and (min-width: 992px) {
    /* Header */
    #navbar a:hover {
        border-bottom: 1px solid #233d4d;
    }

    /* Hero section */
    #overlay-text {
        width: 450px;
        bottom: 275px;
        left: 250px;
    }

    /* About section */
    #about-cafe, #about-boba, #about-treats {
        width: 500px;
    }
}